<p style="color: green"><%= notice %></p>

<h1>Inventories</h1>

<table>
<thead>
<tr class = "gapX">
      <th>User</th>
      <th>Item</th>
      <th>Price</th>
      <th>Timestamp</th>
      <th>Show this inventory</th>
      <th>edit</th>
      <th>delete</th>
</tr>
</thead>
<tbody>
<% @inventories.each do |inventory| %>
      <tr>
      <td>
       <%= inventory.user_id%>
      </td>
        <td >
    
          <%= inventory.price%>
        </td>
        <td >
          <%= inventory.item_id%>
        </td>
        <td >
         <%= inventory.timestamp%>
        </td>
        <td><%= link_to "Show this inventory", inventory %></td>
          <td class = "paddingX"><%= link_to "edit", edit_inventory_path(inventory) %></td>
          <td class = "paddingX"><%= link_to "delete", edit_inventory_path(inventory) %></td>
      </tr>
      
      <% end %>
</tbody>
    
</table>
<%= link_to "New inventory", new_inventory_path %>
<style>
  .flex-row{
      flex-direction: row;
  }

  .flex{
    display:flex;
    flex-direction: row;
    row-gap: 0.5rem;
    margin: 1rem 0rem;
  }
  .paddingX{
    padding: 0px 8px;
  }
  .gapX{
    row-gap: 8px;
  }
  .inventorys{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-inventorys:center;
  }
  .inventory{
    display: flex:
  }
  .bold{
    font-weight:700;
  }
   table, th, td {
  border: 1px solid;
}
table{
    table-layout: auto;
  width: 100%:
}
</style>
